.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
  
    &__content {
      width: 100%; // Asegura que el espacio entre los elementos se distribuye bien
      padding: 1rem 1rem 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; // Permite que los elementos se acomoden si no hay suficiente espacio
  
      &__proItem {
        padding: 1rem;
        text-align: center;
        display: flex; // Alinea los elementos en una fila
        align-items: center; // Centra verticalmente los elementos
        gap: 0.5rem; // Espacio entre los elementos

        img {
          width: 50px;
          height: 50px;
        }

        div{
          display: flex;
          flex-direction: column; // Mantiene el título y la descripción en dos líneas
          align-items: flex-start; // Alinea el texto a la izquierda
          text-align: left; // Asegura que el texto esté alineado correctamente
        }
      }
    }
  }
  

  /* 📌 Estilos para móviles */
@media (max-width: 426px) {
  .container {
    padding: 1rem;
  }

  .container__content {
    flex-direction: column; /* Apila los elementos */
    align-items: center; /* Centra los elementos */
    text-align: center;
    gap: 1.5rem;
  }

  .container__content__proItem {
    flex-direction: column; /* Icono arriba, texto abajo */
    align-items: center;
    text-align: center;
  }
}